.window {
    position: absolute;
}

.title {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(229deg, rgba(2,0,36,1) 0%, rgba(243,255,0,1) 100%); ;
}