[class^=window] {
    position: absolute;
}

:root {
    --color: black;
    --background-opaque: 255, 255, 255;
    --background-overlays: rgba(var(--background-opaque), 0.5);
    --background-overlays-highlight: rgba(var(--background-opaque), 0.8);
    --rounding: 8px;
    --blur-radius: 12px;
    --font: "Inter", sans-serif;
    --font-size: 1rem; // TODO
    --wallpaper: url("/wallpaper.jpg");
    --panel-background: var(--background-overlays);
    --panel-rounding: 0;
    --panel-padding: 8px;
    --panel-blur-radius: var(--blur-radius);
    --panel-color: var(--color);
    --panel-font: var(--font);
    --dock-background: var(--background-overlays);
    --dock-rounding: 40px;
    --dock-rounding-bottom: 0;
    --dock-padding: 9px;
    --dock-icon-size: 96px;
    --dock-blur-radius: var(--blur-radius);
    --window-title-background: rgba(var(--background-opaque), 0.6);
    --window-rounding: 15px;
    --window-title-padding: 10px;
    --window-icon-size: 24px;
    --window-blur-radius: var(--blur-radius);
    --window-close-color: red;
    --window-maximize-color: greenyellow;
    --window-minimize-color: yellow;
    --window-close-color-hover: rgb(252, 30, 30);
    --window-maximize-color-hover: rgb(188, 255, 87);
    --window-minimize-color-hover: rgb(255, 255, 60);
    --window-content-background: rgb(250, 238, 238);
    --window-font: var(--font);
    --window-border-image: linear-gradient(0deg, rgba(194,194,194,0.8001401244091386) 0%, rgba(255,255,255,0.6) 5%, rgba(255,255,255,0.6012605725884104) 95%, rgba(255,255,255,0.9) 100%);
    --window-border-width: 1px;
    --launcher-wallpaper: var(--wallpaper);
    --launcher-background: none;
    --launcher-icon-rounding: 40%;
    --launcher-icon-size: 120px;
    --launcher-blur-radius: 24px;
    --launcher-font: var(--font);
    --context-menu-background: var(--background-overlays);
    --context-menu-color: var(--color);
    --context-menu-rounding: 10px;
    --context-menu-padding: 6px;
    --context-menu-width: 170px;
    --context-menu-icon-size: 0; // comming soon
    --context-menu-blur-radius: var(--blur-radius);
    --context-menu-item-background: var(--background-overlays);
    --context-menu-item-rounding: 10px;
    --context-menu-item-padding: 6px;
    --context-menu-item-margin: 6px;
    --context-menu-item-blur-radius: var(--context-menu-blur-radius);
    --context-menu-font: var(--font);
    --context-menu-font-size: var(--font-size);
    --context-menu-item-hover-background: var(--background-overlays-highlight);
    --context-menu-item-hover-rounding: 10px;
    --context-menu-item-hover-padding: var(--context-menu-item-padding);
    --context-menu-item-hover-blur-radius: var(--context-menu-blur-radius);
    --context-menu-item-hover-color: var(--context-menu-color);
    --context-menu-spacer-background: var(--background-overlays);
    --context-menu-spacer-rounding: 10px;
    --context-menu-spacer-height: 2px;
    --context-menu-spacer-margin: 5px;
    --context-menu-spacer-blur-radius: var(--blur-radius);
    --sidebar-background: var(--background-overlays);
    --sidebar-blur-radius: var(--blur-radius);
    --sidebar-width: 14em;
    --sidebar-color: var(--color);
    --sidebar-template-content-background: white;
    --sidebar-template-content-rounding: var(--window-rounding);
    --sidebar-list-element-rounding: var(--rounding);
    --sidebar-list-element-background: transparent;
    --sidebar-list-element-background-active: rgb(47, 47, 238);
    --sidebar-list-element-color: var(--sidebar-color);
    --sidebar-list-element-color-active: white;
    --sidebar-list-element-padding: 0.5em;
    --sidebar-list-element-margin: 0.5em;
}


:root {
    touch-action: none;
}
body {
    height: 100vh;
    background-image: var(--wallpaper);
    background-size: cover;
    margin: 0;
    overflow: hidden;
    font-size: var(--font-size);
}